.container {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: brown;
    width: 100%;
    /* height: 50px; */
}

.item{
    color: aliceblue;
    padding: 10px;
    text-align: center;
    margin: 0!important;
    text-decoration: none;
}

.item:hover, .button:hover{
    background-color: rgb(132, 32, 32);
}

.active{
    background-color: rgb(132, 32, 32);
}

.button{
    font-weight: 600;
    color: aliceblue;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
}

