.section{
    margin-top: 15px;
    width: 100%;
    border: 1px rgb(148, 147, 147) solid;
}

.title{

    background-color: rgb(230, 226, 226);
    padding: 10px;
    margin-block: 0;
}

.content{

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}